.showcase-center {
  display: flex;
  flex-direction: column;
  background-color: #e7816b;
}

.showcase-content {
  order: 2;
  padding: 8rem 2.4rem;
  text-align: center;
  color: #fff;
  max-width: 540px;
  margin: 0 auto;
}

.showcase-content h1 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 36px;
}

.showcase-content p {
  font-size: 1.5rem;
  line-height: 25px;
  margin-top: 2.4rem;
}

.showcase-img-mobile {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.showcase-img-tablet {
  display: none;
}
.showcase-img-desktop {
  display: none;
}

@media (min-width: 768px) {
  .showcase-center {
    border-radius: 1.5rem;
    overflow: hidden;
  }

  .showcase-content {
    padding: 6.4rem 5.8rem;
  }

  .showcase-img-mobile {
    display: none;
  }

  .showcase-img-tablet {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (min-width: 1175px) {
  .showcase-center {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 8.2rem;
    padding-left: 9.5rem;
  }

  .showcase-content {
    padding: 0;
    text-align: start;
    order: 0;
    align-self: center;
    flex: 1;
  }

  .showcase-content h1 {
    font-size: 4.8rem;
    line-height: 48px;
  }
  .showcase-content p {
    margin-top: 3.2rem;
  }

  .showcase-img-tablet {
    display: none;
  }

  .showcase-img-desktop {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
