.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.4rem;
  overflow: hidden;
}
.card {
  flex: 0 0 auto;
  border-radius: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  overflow: hidden;
  max-width: 450px;
  width: 100%;
  height: 308px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card a {
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

.overlay:hover {
  background-color: rgba(231, 129, 107, 0.8);
}
.web-design {
  background: url("/assets/home/mobile/image-web-design.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.app-design {
  background: url("/assets/home/mobile/image-app-design.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.graphic-design {
  background: url("/assets/home/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.buttons div h2 {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1.2;
  letter-spacing: 1.4px;
  text-align: center;
}

.buttons div p {
  font-size: 1.5rem;
  line-height: 21.68px;
  letter-spacing: 5px;
  margin-top: 1.2rem;
}

.buttons div p span {
  margin-left: 1.6rem;
  color: #e7816b;
}

@media screen and (min-width: 768px) {
  .buttons {
    padding-left: 0;
    padding-right: 0;
  }
  .buttons > div {
    padding: 14rem 0;
  }

  .buttons div h2 {
    font-size: 4rem;
    letter-spacing: 2px;
  }

  .buttons div p {
    margin-top: 2.4rem;
  }

  .web-design {
    background: url("/assets/home/tablet/image-web-design.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .app-design {
    background: url("/assets/home/tablet/image-app-design.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .graphic-design {
    background: url("/assets/home/tablet/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .buttons {
    justify-content: space-evenly;
    flex-direction: row;
  }
  .web-design {
    background: url("/assets/home/desktop/image-web-design-large.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .app-design {
    background: url("/assets/home/desktop/image-app-design.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .graphic-design {
    background: url("/assets/home/desktop/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
