.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.projects article {
  overflow: hidden;
  border-radius: 1.5rem;
  cursor: pointer;
  background-color: #fdf3f0;
  transition: all 0.2s ease-in;
}

.projects article img {
  transition: all 0.2s ease-in;
}

.projects article:hover {
  background-color: #e7816b;
}

.projects article h2 {
  color: #e7816b;
  text-align: center;
  font-size: 2rem;
  line-height: 26px;
  letter-spacing: 5px;
  margin: 3.2rem auto 1.6rem auto;
  transition: all 0.2s ease-in;
}

.projects article:hover h2 {
  color: #fff;
}

.projects article:hover img {
  transform: scale(1.1);
}

.projects article p {
  color: #333136;
  max-width: 286px;
  font-size: 1.6rem;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 3.2rem auto;
}

@media screen and (min-width: 1024px) {
  .projects {
    padding-left: 0rem;
    padding-right: 0rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
